<div class="modal-fondo">
  <h3 mat-dialog-title class="dialog-title">{{ titulo }}</h3>
  <hr class="division-line">
  <div class="importdata">

    <mat-dialog-content>
      <form [formGroup]="formularioForm">

        <!-- Supervisor -->
        <nz-form-item >
          <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="supervisor" style="text-align: left;">Supervisor</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar un supervisor">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Seleccione un supervisor"
              formControlName="idSupervisor"
              required>
              <nz-option *ngFor="let supervisor of supervisores" [nzLabel]="supervisor.nombres" [nzValue]="supervisor.idSupervisor"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Plato -->
        <nz-form-item>
          <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="plato" style="text-align: left;">Plato</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el plato">
            <input 
              nz-input 
              formControlName="plato" 
              name="plato" 
              type="text" 
              nzPlaceHolder="Ingrese el nombre del plato"
              required />
          </nz-form-control>
        </nz-form-item>

        <!-- Total -->
        <nz-form-item>
          <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="total" style="text-align: left;">Valor</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el total">
            <input 
              nz-input 
              formControlName="valor" 
              name="valor" 
              type="number" 
              style="color: black;" />
          </nz-form-control>
        </nz-form-item>

      </form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar]="true"></app-buttonstrategic>
      <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
    </mat-dialog-actions>

  </div>
</div>
