button.BotonMorado {
    background-color: #5A6ACF !important;
    color: #EDE7F6;
    min-width: 100px;  /* Cambia el valor según tus necesidades */
    height: 35px;  /* Cambia el valor según tus necesidades */
}


button.BotonGris {
    background-color: #BDBDBD !important;
    color: #ffffff;
    min-width: 100px;  /* Cambia el valor según tus necesidades */
    min-height: 40px;  /* Cambia el valor según tus necesidades */
}

button.BotonVerde {
    background-color: #8BC34A !important;
    color: #ffffff;
    min-width: 100px;  /* Cambia el valor según tus necesidades */
    min-height: 40px;  /* Cambia el valor según tus necesidades */
}

button{
    margin-right: 20px;
}

