.content-container {
  padding: 20px;
  
}

.table-container {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #f1f5fa;
  border-radius: 8px;
  height: 90vh; /* Ajusta este valor según tus necesidades */
  overflow-y: auto;
  overflow-x: auto;
}

.table-container-in-tap {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #f1f5fa;
  border-radius: 8px;
  height: 77vh; /* Ajusta este valor según tus necesidades */
}

.divtable {
  margin-right: 20px;
  margin-left: 20px;
}

.background-white-title-botton {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Ajusta el padding según sea necesario */
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent; /* Cambia el color de fondo a transparente */
}

.mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-infix {
  padding: 0; /* Opcional: Ajusta el padding si es necesario */
}

.text-left {
  text-align: center;
}

.filterSearch {
  padding: 20px;
  background-color: transparent;
  align-items: center;

  border-radius: 25px; /* Ajusta el valor para el redondeo deseado */
}

.filterSearch .ant-input-affix-wrapper {
  border-radius: 25px; /* Ajusta el valor para el redondeo deseado */
  border: 1px solid #ffff; /* Ajusta el color y estilo del borde según sea necesario */
}

/* Varis botones en la tabla*/
.headerclass {
}

.spacermoreinputs {
  flex-grow: 1;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Añade un espacio entre los elementos */
}

.select-input,
.nz-input-group {
  flex-shrink: 0;
  width: 200px; /* Ajusta el ancho como desees */
}

.title-heading {
  font-size: 1.2em;
  font-weight: 450;
  color: #01142a;
  margin-bottom: 2px;
  padding: 2px;
  /*text-align: center;
  border-bottom: 0.5px solid #e0e0e0; /* Línea discreta debajo */
}
