.invisible-divider {
    border-left: none; /* Oculta la línea vertical */
    width: 14px; /* Ajusta el ancho para agregar espacio entre los elementos */
    display: inline-block;
  }
  
  
  .table-scroll-wrapper {
    max-height: 100%; /* Permitir que el contenedor ocupe toda la altura disponible */
    overflow-x: auto;
    overflow-y: auto;
    position: relative; /* Necesario para que 'sticky' funcione */
  }
  
  .table-scroll-wrapper th {
    position: sticky;
    top: 0;
    background-color: #F6F6FB !important;
    z-index: 2; /* Asegura que esté encima del contenido */
    border-bottom: 1.5px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
  }
  
  
  table {
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho disponible */
    background-color: transparent;
  }
  
  .first-row th {
    background-color: transparent;
    font-size: 14px;
    padding: 8px;
  }
  
  .other-rows td {
    background-color: transparent;
    padding: 8px;
    border-bottom: solid 0.1px lightgrey;
  }
  
  .text-left {
    text-align: center;
  }
  
  .full-page-container {
    display: flex;
    flex-direction: column;
    height: 60vh; /* Usar toda la altura disponible de la ventana */
  }
  
  .table-container {
    flex-grow: 1;
    overflow: hidden; /* Asegurar que el scroll solo ocurra dentro de table-scroll-wrapper */
    display: flex;
    flex-direction: column;
  }