.full-page-container {
  display: flex;
  flex-direction: column;
  height: 70vh; /* Usar toda la altura disponible de la ventana */

  background-color: transparent !important;
}

.table-container {
  flex-grow: 1;
  overflow: hidden; /* Asegurar que el scroll solo ocurra dentro de table-scroll-wrapper */
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}

.paginator-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
  position: absolute;
  bottom: 40px;
  right: 40px;
  left: 0;
}

.background-white-title-botton {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 1px 0; /* Ajusta el padding según sea necesario */
}

.invisible-divider {
  border-left-color: transparent; /* Hace invisible el borde izquierdo (vertical) */
}

a{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.divfechas
{
  margin-right: 5px;
}

app-buttonstrategic{
  /* margin-right: 20px; */
  margin-left: 0px;
}



